{% extends "./layout.html" %}
{% block body_content %}
{% if resource %}
    <table>
      <tr>
	      <th>Resource</th>
	      <th>Software</th>
	      <th>Notes</th>
	      <th>Image</th>
	      <th>Edit/Delete</th>
      <tr/>
    <hr>
    {% for r in resource %}
    <tr>
	<td><a href="{{ r.url }}">{{ r.title }}</a></td>
	<td>{{ r.software }}</td>
	<td>{{ r.notes }}</td>
	{% if r.image %}
	  <td><a href="{{ r.image.url }}">View image</a></td>
	{% endif %}
	<td><form method="GET" method="POST" action="./edit/{{ r.id }}">
			<input type="submit" value="Edit / Delete" name="edit">
		</form></td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No resources are available.</p>
{% endif %}
{% endblock body_content %}
